.container {
  max-width: 1200px;
  margin: auto;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.table thead th {
  background-color: #f1f5f9 !important;
  font-weight: 600;
}

.badge {
  padding: 0.5em 1em;
  font-size: 0.9em;
  border-radius: 1rem;
}

.pagination {
  margin-bottom: 0;
}

.position-relative {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #64748b;
}

.form-control {
  padding-left: 35px;
}

/* productOrdersTable.css */
.badge-delivered {
  background-color: #A0E8DB !important; 
  color: #249782;
}

.badge-shipping {
  background-color: #E9D5FF !important; 
  color: #A855F7;
}

.badge-new {
  background-color: #BAE6FD!important; 
  color: #0EA5E9;
}

.badge-pending {
  background-color: #FEF08A !important; 
  color: #EAB308;
}