.custom-card-image-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 1rem;
  }
  
  .custom-card-image {
    width: 60px;
    height: 60px;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 767px){
    .sizeManage{
      margin-bottom: 15px;
    }
  }
  
