.sidebar-container {
    overflow-y: auto;
    max-height: 100vh;
  }
  
  .sidebar-container::-webkit-scrollbar {
    width: 0px;
  }
  
  .navbarCollapse {
    z-index: 1;
    background-color: white;
  }